* {
    margin: 0;
    padding: 0;
}

.center {
    padding-left: calc(50% - 590px);
    padding-right: calc(50% - 590px);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.goods-list {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 60px;
}

.cart-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 300px;
    height: 250px;
}