* {
    margin: 0;
    padding: 0;
}

.center {
    padding-left: calc(50% - 790px);
    padding-right: calc(50% - 790px);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img {
    width: 300px;
    height: 250px;
}